body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header{
    text-align: left;
    background-color: grey;
    padding: 10px 0 10px 10px;
    height: 60px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main{

    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
}


.btn{

    background-color: #007bff;
    color: white;
    border: none;
    padding-top: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;

}

.btn:hover {

    background-color: blanchedalmond;
    color: black;
}


#timer {

    float: right;
    margin-right: 20px;
}


#question{

    font-size: 20px;
    margin-bottom: 20px;
}

#options {

    margin-bottom: 20px;
}

#message {

    margin-bottom: 20px;
}


#summary {

    font-size: 20px;
    margin-bottom: 20px;
}


#viewScores {

    margin-bottom: 10px;
}


#initials {

    padding: 5px;
    margin-bottom: 10px;

}