body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;

}

header{
    text-align: left;
    background-color: white;
    padding: 10px 0 10px 10px;
    height: 60px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main{

    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
}

#welcome h1 {

    font-size: 30px;
    margin-bottom: 20px;
    color: #702963;

}

#welcome p {

    font-size: 20px;
    margin-bottom: 30px;
}

.btn{

    background-color: #702963	;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;    
    border-width: 0.18rem;
    color: white;
    padding: .75rem 1.2rem;
    cursor: pointer;
    flex: 0 0 auto;
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-decoration: none;
    text-align: center;
    width: auto;

}

#highScores {
    float: right;
    margin-left: 10px;

}    

#highScores a {

    text-decoration: none;
    color: black;
    font-weight: 500;

}    
    

#timer {

    float: right;
    margin-right: 20px;
    font-weight: 600;
    text-decoration: underline;

}

.btn:hover {

    background-color: white;
    color: #702963	;
    border-color: #702963;
    cursor: pointer;
}

.btn:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  .hidden{

    display: none;
}

  #quiz, #result{

    display: none;
  }

#question{

    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
    
}

#options {

    margin: 20px;
    padding: 30px;

}

#message {

    margin-bottom: 20px;
    color: #702963;
    font-weight: 600;
    font-style: italic;
    font-size: 15px;
}


.no-bullets {
    list-style: none;
  }
  
#summary {

    font-size: 20px;
    margin-bottom: 20px;
}


#viewScores {

    margin-bottom: 10px;
}

#initials {

    padding: 10px;
    margin: 10px;
    border: 1px solid #702963;
    color: #702963;
    width: 80%;

}

#saveScore, #clear, #restart {

    margin: 20px;
}

.highScoresList {

    padding: 25px;

}


@media (min-width: 768px) {
    .button-40 {
      padding: .75rem 1.5rem;
    }
}